In [1]:
print("I love ML and Finance!\n" * 3)

I love ML and Finance!
I love ML and Finance!
I love ML and Finance!

# Variable

In [ ]:
a1 = 1
a1

1

In [ ]:
print = 1
print

1

In [ ]:
del print

NameError: name 'print' is not defined

In [ ]:
print(a1)

1

In [ ]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

Q: any other reversed keyword in Python?

# Data types

In [ ]:
a = 1
type(a)

int

In [ ]:
b = 1.2
type(b)

float

In [ ]:
c = a + b
c
type(c)

float

In [ ]:
True + 1

2

Q: what happens if two variables of different data types are evaluated together?

In [ ]:
c = True
type(c)

bool

In [ ]:
d = "hi"
type(d)

str

In [ ]:
e = [1, 2, 3]
type(e)

list

In [ ]:
my_list = []
for i in e:
    my_list.append(i+1)
my_list

[2, 3, 4]

In [ ]:
2**(0.5)

1.4142135623730951

In [ ]:
import numpy as np
np.sqrt(2)

1.4142135623730951

Q: any other way to build a list?

In [ ]:
[i+1 for i in e]

[2, 3, 4]

Q: write the same operation in a for loop.

In [ ]:
f = {"Mon":1, "Tue":2}
type(f)

dict

Q: build a dictionary of your group members.

## String

In [ ]:
a = "Hi"
a[0]

'H'

In [ ]:
a.

In [ ]:
b = "How are you"
b[:3]

'How'

In [ ]:
a.upper()

'HI'

Q: explore three other methods of a string.

In [ ]:
len(a)

2

In [ ]:
"How" in b

True

Q: what happens if it is lower case, i.e., "how"? How to make it case insensitive?

In [ ]:
a + " " + b

'Hi How are you'

## List

In [ ]:
a = ["how", "are", "you"]

In [ ]:
len(a)

3

In [ ]:
a[2]

'you'

Q: how to access the last element without knowing the exact position?

In [ ]:
a[len(a)-1]

'you'

In [ ]:
a[0:2]

['how', 'are']

In [ ]:
"are" in a

True

In [ ]:
["hi"] + a

['hi', 'how', 'are', 'you']

In [ ]:
" ".join(a)

'how are you'

Q: how to join these single words to a sentence?

## Dictionary

In [ ]:
a = {"Mon":1, "Tue":2}

In [ ]:
a["Mon"]

1

In [ ]:
a["Wed"] = 3
a

{'Mon': 1, 'Tue': 2, 'Wed': 3}

In [ ]:
a["Mon"] = 0
a

{'Mon': 0, 'Tue': 2, 'Wed': 3}

Q: what happens if we assign a new value to an existing key?

# Comparison operator

In [ ]:
# delete the previous print keyword used to store an integer
del print

# Logical operator

In [ ]:
print(1<=2)

True

In [ ]:
a = 1
b = 2
print(a == b)

False

In [ ]:
print(a < b and a < a)

False

In [ ]:
print(a < b or a < a)

True

In [ ]:
print(not a < a)

True

Q: what happens if both sides have different data types? what about boolean values?

# Control flow

In [ ]:
if a > b:
    print("a > b")
elif a == b:
    print("a == b")
else:
    print("a < b")

a < b

In [ ]:
a if a > b else b

2

Q: write a program to map the scores to grades:

90-100 -> A

80-89  -> B

70-79  -> C

In [ ]:
def grade(score):
    if type(score) != int:
        return 'not int'
    else:
        if 100 >= score >= 90:
            return 'A'
        elif 89 >= score >= 80:
            return 'B'
        elif 79 >= score >= 70:
            return 'C'
        elif score < 0 or score > 100:
            return 'invalid'
        else:
            'D'
       
# grade('low')
grade(71.1)

'not int'

# Function

In [ ]:
def my_func(x=1):
    return x+1

In [ ]:
my_func(2)

3

In [ ]:
def my_func2(x=1, y=2):
    return x+y

In [ ]:
my_func2(2,3)

5

In [ ]:
my_func2(2)

4

In [ ]:
my_func2(y=2)

3

Q: write a function to include the previous if-else statement, and add additional checks on the input and output.

# NumPy ndarray

In [ ]:
import numpy as np
array_1d = np.array([1,2,3])
array_1d

array([1, 2, 3])

In [ ]:
array_2d = np.array([[1,2],[2,3]])
array_2d

array([[1, 2],
       [2, 3]])

In [ ]:
array_3d = np.array([array_2d, array_2d])
array_3d

array([[[1, 2],
        [2, 3]],

       [[1, 2],
        [2, 3]]])

Q: creat a 4-dimensional array.

## Common attributes

In [ ]:
array_2d.ndim

2

In [ ]:
array_2d.shape

(2, 2)

In [ ]:
array_2d.size

4

In [ ]:
array_2d.dtype

dtype('int64')

Q: explore other attributes.

## Indexing

In [ ]:
array_1d[0]

1

In [ ]:
array_1d[1:2]

array([2])

In [ ]:
array_2d[0,0]

1

In [ ]:
array_2d[:,0]

array([1, 2])

Q: how to access the second element at first row of the second entry in the 3d array?

# Common methods

In [ ]:
array_1d.mean()

2.0

In [ ]:
array_1d.max()

3

In [ ]:
array_1d.min()

1

In [ ]:
array_1d.std()

0.816496580927726

In [ ]:
array_1d.var()

0.6666666666666666

In [ ]:
np.mean(array_1d)

2.0

In [ ]:
np.max(array_1d)

3

In [ ]:
np.min(array_1d)

1

In [ ]:
np.std(array_1d)

0.816496580927726

In [ ]:
np.var(array_1d)

0.6666666666666666

In [ ]:
np.median(array_1d)

2.0

In [ ]:
# get the 80th percentile
np.percentile(array_1d, 0.8)

1.016

Q: how to evaluate if any of the above statements return the same result?

## Element-wise operation and broadcasting

In [ ]:
a = np.array([1,2,3])
b = np.array([2,3,4])
a + b

array([3, 5, 7])

In [ ]:
c = 2
a + c

array([3, 4, 5])

In [ ]:
a * c

array([2, 4, 6])

In [ ]:
d = np.array([2,3])
a + d

ValueError: ignored

In [ ]:
array_2d = np.array([[1,2],[2,3]])
array_2d + d

array([[3, 5],
       [4, 6]])

Q: explore broadcasting in minusing and division operations of different dimensions.

# Pandas Series

In [ ]:
import pandas as pd
pd_series = pd.Series([2,3,4])

In [ ]:
pd_series.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
pd_series.values

array([2, 3, 4])

In [ ]:
pd_series.index = ["idx1", "idx2", "idx3"]

In [ ]:
pd_series

idx1    2
idx2    3
idx3    4
dtype: int64

In [ ]:
pd_series.index = ["idx1", "idx1", "idx3"]
pd_series

idx1    2
idx1    3
idx3    4
dtype: int64

Q: can two indices be the same?

## Access items via indexing

In [ ]:
pd_series[0]

2

In [ ]:
pd_series["idx1"]

2

## Slicing a series

In [ ]:
pd_series[1:3]

idx2    3
idx3    4
dtype: int64

In [ ]:
pd_series["idx2":"idx3"]

idx2    3
idx3    4
dtype: int64

Q: how to display a series in reverse order?

# Pandas DataFrame

In [ ]:
pd_df = pd.DataFrame({"GOOG":[580,581,582], 
                      "TSLA":[122,121,123]})
pd_df

   GOOG  TSLA
0   580   122
1   581   121
2   582   123

In [ ]:
display(pd_df)

   GOOG  TSLA
0   580   122
1   581   121
2   582   123

Q: how to add a new stock to the dataframe?

## Common attributes

In [ ]:
pd_df.columns

Index(['GOOG', 'TSLA'], dtype='object')

In [ ]:
pd_df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
pd_df.shape

(3, 2)

In [ ]:
pd_df.size

6

Q: explore other attributes.

## Data processing

In [ ]:
pd_df.index = ["2023-01-01", "2023-01-02", "2023-01-03"]
pd_df

            GOOG  TSLA
2023-01-01   580   122
2023-01-02   581   121
2023-01-03   582   123

In [ ]:
google = pd_df["GOOG"]
google

2023-01-01    580
2023-01-02    581
2023-01-03    582
Name: GOOG, dtype: int64

In [ ]:
pd_df2 = pd_df[["TSLA", "GOOG"]]
pd_df2

            TSLA  GOOG
2023-01-01   122   580
2023-01-02   121   581
2023-01-03   123   582

In [ ]:
pd_df.loc["2023-01-02","GOOG"]

581

In [ ]:
pd_df.loc["2023-01-02"]

GOOG    581
TSLA    121
Name: 2023-01-02, dtype: int64

In [ ]:
pd_df.loc["2023-01-01":"2023-01-02", "GOOG":"TSLA"]

            GOOG  TSLA
2023-01-01   580   122
2023-01-02   581   121

In [ ]:
# choose element at second row and second column
pd_df.iloc[1,1]

121

In [ ]:
pd_df.iloc[[0,2],[0,1]]

            GOOG  TSLA
2023-01-01   580   122
2023-01-03   582   123

In [ ]:
pd_df.iloc[0:2,0:2]

            GOOG  TSLA
2023-01-01   580   122
2023-01-02   581   121

Q: how to determine which property to use?

## Conditional operations

In [ ]:
pd_df > 150

            GOOG   TSLA
2023-01-01  True  False
2023-01-02  True  False
2023-01-03  True  False

In [ ]:
pd_df['TSLA'] > 150

2023-01-01    False
2023-01-02    False
2023-01-03    False
Name: TSLA, dtype: bool

In [ ]:
pd_df.loc[pd_df["GOOG"]>580]

            GOOG  TSLA
2023-01-02   581   121
2023-01-03   582   123

In [ ]:
pd_df.loc[(pd_df["GOOG"]>580) & (pd_df["TSLA"]>121)]

            GOOG  TSLA
2023-01-03   582   123

In [ ]:
pd_df.loc[(pd_df["GOOG"]>580) | (pd_df["TSLA"]>121)]

            GOOG  TSLA
2023-01-01   580   122
2023-01-02   581   121
2023-01-03   582   123

In [ ]:
pd_df.loc[~(pd_df["GOOG"]>580)]

            GOOG  TSLA
2023-01-01   580   122

Q: which date has the highest stock price for both stocks?